<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Display</title>
    <!-- user bootstrap.css -->
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <!-- use jquery -->
    <script src="jquery/dist/jquery.min.js"></script>
    <!-- use boostrap.min.js     -->
    <script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <!-- make display box for userid and password input  -->
    
</body>
</html>

