<style>
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #333;
        color:#fff;
        }
</style>
<footer class="bg-dark text-white text-center py-3" style="margin-bottom: 0;">
    <p>&copy; 2023 IT-Clinnic.</p>
</footer>