<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <h1 class="text-center">Welcome to Ticketing IT-CLINIC Home Page</h1>
            <h3 class="text-center">created by INDO MEGA VISION, PT</h3>
        </div>
        
<!-- make start button on the center of the screen, then go to login page-->
        <div class="row mt-5">
            <button class="btn btn-primary py-3 btn-lg" onclick="window.location('/login')">START</button>
        </div>
    </div>
    

</body>
</html>