<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/theme/css/adminlte.min.css">
</head>
<body>
    <h1>Welcome to Ticketing Home Page</h1>
    <p>Last Tix = <%= last_tix %></p>
    <script src="/theme/js/jquery.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script> -->
    <script src="/theme/js/adminlte.min.js"></script>
</body>
</html>