<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <div class="container px-4">
        <div class="row gy-5 gx-5">
            <h1 class="text-center">Welcome to Ticketing IT-CLINIC Home Page</h1>
        </div>
        
        <!-- // button to redirect to login Page -->
        <div class="row gy-5 gx-5">

            <!-- make buttons for login, customer, and admin screen. onclick button call redirect to url -->
            <div class="col-md-4">
                <button class="btn btn-primary btn-lg ml-5" onclick="window.location.href='/login'">Login</button>
                <button class="btn btn-primary btn-lg mr-5" onclick="window.location.href='/customer'">Customer Display</button>
                <button class="btn btn-primary btn-lg" onclick="window.location.href='/admin'">Admin</button>
            </div>

            
        </div>  
    </div>
    

</body>
</html>