<html>
    <head>
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
        <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
            background-color: #f8f9fa;
        }
        .login-container {
            max-width: 400px;
            padding: 20px;
            border: 1px solid #dee2e6;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        </style>
    </head>
    <body>
        <div class="container login-container">
            <div class="row">
                <!-- welcome to Ticketing IT-Clinnic  -->
                <div class="col">
                    <h3>Ticketing IT-Clinnic</h1>
                </div>
                <hr>                
            </div>
            <div class="row">
                <h1>Sign in</h1>
                <p class="text-danger"><%=error %></p>
            </div>
            <div class="row">
                <form action="/login" method="post">
                    <section class="mb-3">
                        <label for="userid" class="form-label">Username</label>
                        <input id="username" class="form-control" name="userid" type="text" autocomplete="username" required autofocus>
                    </section>
                    <section class="mb-3 ">
                        <label for="current-password" class="form-label">Password</label>
                        <input id="current-password" class="form-control" name="password" type="password" autocomplete="current-password" required>
                    </section>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
            </div>
            
            <!-- footer copyright IMV 2023, for IT-Clinic -->
            <div class="row">
                <footer class="bg-dark text-white text-center footer pt-2 sticky-bottom align-items-center">
                    <p>&copy; 2023 IMV for IT-Clinic.</p>
                </footer>
            </div>

        </div>

        <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>